.featured_heading {
  text-align: center;
  color: #202020;
  margin: 4rem 0;
}

.featured_heading_background {
  width: 23%;
  margin: 0 auto;
  background: #fff;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
}

.featured_items {
  display: flex;
  justify-content: center;
}

.column_two:nth-child(1) {
  max-width: 23%;
  margin-top: 26%;
  margin-right: -23%;
  z-index: 1;
}

.column_one {
  flex-basis: 23%;
  margin-right: 10px;
}
.column_two {
  flex-basis: 49%;
  text-align: center;
}

.one img,
.two img,
.three img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
  border-radius: 10px;
}

.one {
  margin-bottom: 34px;
  height: 50%;
}

.column_one,
.column_two {
  position: relative;
}

.one_text {
  margin-top: -4rem;
  text-align: center;
  color: #6c6c6c;
}

.two_text {
  margin-top: -4rem;
  text-align: center;
  color: #6c6c6c;
}

.three_text {
  color: #6c6c6c;
  position: absolute;
  top: 78%;
  left: 38%;
}

.one_text h4,
.two_text h4,
.three_text h4 {
  font-weight: 500;
}

.feature_price {
  color: #42b883;
}

/* ================ Responsive =================== */
@media screen and (max-width: 900px) {
  section.featured_products {
    overflow: hidden;
    position: relative;
  }

  .featured_heading_background {
    font-size: 1.8vw;
  }

  .featured_items {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 100%;
    margin-left: 7rem;
  }

  .featured_items .one img,
  .featured_items .two img,
  .featured_items .three img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .column_one {
    position: relative;
    display: flex;
  }

  .one {
    margin-bottom: 34px;
    margin-right: 1rem;
  }

  .column_two {
    display: flex;
    width: 70%;
  }

  .one {
    flex-basis: 35%;
  }

  .two {
    flex-basis: 39%;
  }

  .three {
    flex-basis: 70%;
  }

  .three-text {
    left: 27%;
  }

  .two-text {
    margin-top: -55px;
    font-size: 14px;
  }

  .featured_items .column_two:nth-child(1) {
    position: absolute;
    top: -24%;
    max-width: 34%;
    right: 53%;
  }
}

@media screen and (max-width: 768px) {
  .one_text {
    margin-top: -47px;
  }

  .one {
    margin-bottom: 20px;
  }

  .one_text h4,
  .one_text p {
    font-size: 2vw;
  }

  .two_text {
    margin-top: -48px;
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .featured_items {
    margin-left: 5rem;
  }

  .column_two {
    margin-top: 7px;
  }
}


@media screen and (max-width: 550px) {
  .featured_heading_background {
    font-size: 2vw;
    width: 26%;
  }
}