.user_area {
  background-color: #f5f5f5;
}
.ptb_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.user_area .user_item {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 50px;
}

.user_area .user_item h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -4px;
    font-weight: 700;
    color: #434E6E;
}

.user_area .user_item .form_group {
    width: 96%;
}

.user_area .user_item .form_group .form_control {
    height: 50px;
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #F5F5F5;
}

.form_control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user_area .user_item .common_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.common_btn {
    display: inline-block;
    color: #fff;
    background-color: #42b883;
    padding: 12px 30px;
    font-weight: 600;
    border: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 1 !important;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.user_area .user_item h5 {
    margin-bottom: 0;
    font-weight: 400;
    color: #545454;
    font-size: 16px;
    text-align: center;
}

.user_area .user_item h4 {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 16px;
    position: relative;
    text-align: center;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid transparent;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .common_btn span {
    padding: 4px;
  }

.form_validation_text{
    color:red;
    margin-bottom: 15px;
    margin-top: 5px;
}

.form_warning_message{
  color: red;
  text-align: center;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 19px;
}