@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {

  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  display: block;
  margin: auto;
}
