/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.user_list {
  width: 70%;
}

.user_container_table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.user_wrap_table100 {
  width: 1170px;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #42b883;
}
table tbody tr {
  height: 50px;
  border-bottom: 1px solid #eee;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

.user_table100_head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

/* tbody tr:nth-child(even) {
      background-color: #f5f5f5;
    } */

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.user_column1 {
  width: 260px;
  padding-left: 40px;
}

.user_column2 {
  width: 160px;
}

.user_column3 {
  width: 245px;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.user_column4 {
  width: 110px;
  text-align: right;
}

.user_column4 i {
  margin-right: 7px;
}

.user_column5 {
  width: 170px;
  text-align: right;
}

.user_column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  .userlist_table tbody tr td:nth-child(1):before {
    content: 'Name';
  }
  .userlist_table tbody tr td:nth-child(2):before {
    content: 'Email';
  }
  .userlist_table tbody tr td:nth-child(3):before {
    content: 'Role';
  }

  .user_column3{
    align-items: baseline;
    justify-content: flex-start;
  }


  .user_column4,
  .user_column5,
  .user_column6 {
    text-align: left;
  }

  .user_column4,
  .user_column5,
  .user_column6,
  .user_column1,
  .user_column2,
  .user_column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .user_container_table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
