.best_selling_items {
  margin-top: 8rem;
  overflow: hidden;
}

.best_selling_heading h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.best_selling_items .slide_items {
  display: flex !important;
  width: 22%;
}

.slide_items img {
  max-width: 100%;
}

.selling_slide {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.selling_slide .slick-slide {
  margin-right: 1rem;
  border: 1px solid #eee;
}