.best_selling_items {
  margin-top: 8rem;
  overflow: hidden;
}

.best_selling_heading h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.best_selling_items .slide_items {
  display: flex !important;
  width: 22%;
}

.slide_items img {
    max-width: 100%;

}


.slick-slide {
    width: 5% !important;
    margin-right: 1rem !important;
    margin-top: 1rem;
}