.container {
  max-width: 1170px;
  display: block;
  margin: auto;
}

.main_shop {
  margin-top: 100px;
}

.main_shop .main_product {
  display: flex;
  padding: 0 2rem;
}

.product_filter {
  flex-basis: 18%;
}

@media screen and (max-width: 900px) {
  .main_shop .main_product {
    display: flex;
    flex-direction: column-reverse;
  }

  .main_shop .product {
    justify-content: center;
  }

  .main_shop .product_filter {
    width: 36%;
    margin-left: 2rem;
  }
}


@media screen and (max-width: 700px) {
  .main_shop .product_filter {
    width: 60%;
    margin-left: 2rem;
  }
}