ul.react-tabs__tab-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 4rem;
}

ul.react-tabs__tab-list li {
  background: #fff;
  padding: 1rem 3rem;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.react-tabs__tab-panel {
  width: 62%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ****** Add review ****** */
.add-review .review-heading {
  margin-top: -27px;
  position: absolute;
  background: #fff;
  padding: 1rem;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
  border-radius: 5px;
}

.add-review {
  background: #f9f9f9;
  margin-top: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  width: 160%;
}
.review-heading {
  margin-top: -1rem;
  position: absolute;
}

.reveiw_tab {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.reveiw_tab h4 {
  margin-bottom: 1rem;
}

.tab_flexibility {
  width: 80%;
  position: relative;
}

.review_star {
  color: #ffc107;
  text-align: right;
  position: absolute;
  right: 10%;
}

.review-form {
  position: relative;
  margin: 0 2rem;
}

.review-form .review-rating {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.review-form .client-rating {
  margin-left: auto;
}

.review-message {
  width: 100%;
}

.review-message textarea {
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
}

.review-form .review-message {
  margin-bottom: 1rem;
}

.review-info {
  position: absolute;
  margin-top: -13px;
  width: 103%;
  display: flex;
}

.review-info input {
  border: none;
  width: 100%;
  padding: 1rem;
  outline: none;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
  margin-right: 1rem;
}

.review-form .review-rating {
  color: #919191;
}

.review-form .client-rating {
  color: #ffc107;
}

.review-form .submit-button {
  text-align: center;
}
.review-form .submit-button button {
  background: #42b883;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 67px;
  font-weight: 600;
}
