.product_item {
  flex-basis: 28%;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  background: #fff;
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
}

.desc_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product_desc {
  margin-top: 1rem;
  text-align: left;
  padding: 1rem;
}

.product_name {
  color: #8a8989;
  margin-bottom: 10px;
  font-weight: 100;
}

.product_img {
  text-align: center;
}

.product_item .product_img img {
  max-width: 100%;
  border-radius: 5px;
}

.product_price {
  font-weight: 500;
}

.plus_icon {
  border: 1px solid #dbd9d9;
  padding: 10px;
  border-radius: 6px;
  margin-top: 27px;
  cursor: pointer;
}

.plus_icon:hover {
  border:none;
  background: #42b883;
  color: #fff;
  font-weight: 700;
}

.single_product_count {
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
  border-radius: 7px;
  border: 1px solid #eee;
}

.single_product_count span {
  display: flex;
  align-items: center;
}

.single_product_count span button {
  padding: 1rem 1rem;
  color: #919191;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .product_item {
    flex-basis: 25%;
  }
}


@media screen and (max-width: 800px){
  .product_item {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 600px){
  .product_item {
    flex-basis: 75%;
  }
}