.main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
  }
  
  .main-header nav ul {
    display: flex;
    list-style: none;
  }
  
  .navbar ul li a {
    padding: 0.75rem;
    text-decoration: none;
    color: rgb(19, 18, 18);
  }
  
  .navbar-toggler {
    display: none;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #707070;
  }
  
  .navbar-toggler i {
    padding: 0rem;
    font-size: 1.5rem;
    background: #fff;
    border: none;
    outline: none;
  }
  

  .main-header .shop-essentials .header_icon {
    padding: 0.75rem;
  }