.main_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.main_header nav ul {
  display: flex;
  list-style: none;
}

.main_navbar ul a {
  padding: 0.75rem;
  text-decoration: none;
  color: rgb(19, 18, 18);
}

.navbar_toggler {
  display: none;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #707070;
}

.navbar_toggler .bars {
  padding: 0rem;
  font-size: 1.5rem;
  background: #fff;
  border: none;
  outline: none;
}

.main_header .shop_essentials .header_icon {
  padding: 0.75rem;
  cursor: pointer;
}

.dot_icon {
  display: none;
}

.shop_essentials_icon {
  display: flex;
  align-items: center;
}

/* =============== responsive code ===================*/

@media screen and (max-width: 600px) {
  .logo {
    padding: 0 20%;
  }
  .main_navbar{
    display:none;
  }

  .navbar_toggler {
    float: right;
    display: block;
  }

  .navbar {
   
  }

  .navbar ul{
    position: absolute;
    width: 34%;
    background: #fff;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
    z-index: 2;
    left: 13%;
    flex-direction: column;
    align-items: center;
  }

  .navbar ul a{
    padding: 0.75rem;
    color: rgb(19, 18, 18);
    border-bottom: 1px solid #ececec;
    width: 45%;
  }

  /* .show_menu > .navbar {
    display: block;
    position: absolute;
    width: 34%;
    background: #fff;
    text-align: center;
    margin-top: 14rem;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
    z-index: 2;
    left: 9%;
  } */

  /* .show_menu > .navbar ul {
    display: flex;
    flex-direction: column;
  } */

  .show_menu > .navbar ul a {
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .show_menu > .navbar ul li a {
    border-bottom: 1px solid #ececec;
  }

  .show_menu > .navbar ul {
    animation-name: slidenavAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
  }

  @keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }
    to {
      margin-top: 0;
      opacity: 1;
    }
  }

  .featured_products .featured_items,
  .items_on_sale .on_sale_items {
    margin-left: 5rem;
  }

  /* shop essentials text */

  .shop_essentials_text,
  .shop_essentials_icon {
    display: none;
  }

  .show_essential > .shop_essentials_text {
    display: block !important;
  }

  .dot_icon {
    display: block;
  }

  .show_essential > .shop_essentials_text ul {
    list-style: none;
  }

  .show_essential > .shop_essentials_icon {
    display: none;
    margin: 0;
    padding: 0;
  }

  .show_essential > .shop_essentials_text {
    display: block;
    position: absolute;
    top: 13%;
    z-index: 2;
    right: 9%;
    background: #fff;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
    width: 32%;
    text-align: center;
  }

  .show_essential > .shop_essentials_text ul li {
    padding: 1rem;
  }

  .mini_shop_essential{
    
  }
  .mini_shop_essential ul{
    position: absolute;
    width: 34%;
    background: #fff;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0px 2px 15px 0px rgb(0 0 0 / 0.06);
    z-index: 2;
    right: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mini_shop_essential ul a{
    padding: 0.75rem;
    color:#000;
  }
}
