.shoping_cart {
  padding-top: 5rem;
  background: #fff;
  min-height: 100vh;
}
.cart_area {
  overflow: hidden;
}

.cart_specification_name {
  display: flex;
  justify-content: flex-start;
  margin-left: 16rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cart_specification_name h5 {
  color: #6d6d6d;
  flex-basis: 20%;
  font-weight: 500;
}

.cart_specification_name h5:nth-child(2) {
  padding-left: 16px;
}

.cart_specification_name h5:nth-child(3) {
  margin-left: -12px;
}

.cart_specification_name h5:nth-child(4) {
  text-align: left;
  padding-left: 3rem;
}

.cart_calculation {
  display: flex;
  justify-content: space-evenly;
}

.cart_discount {
  margin-left: -15%;
}

.cart_total_calculation {
  margin-left: -8%;
}

.sub_total {
  display: flex;
  border-bottom: 1px solid #eeee;
  padding: 1rem 0;
  border-top: 1px solid #eee;
}

.sub_total h4 {
  margin-right: 12vw;
  color: #202020;
  font-weight: 500;
}

.sub_total_price {
  color: #8b8b8b;
}

.checkout_button {
  margin-bottom: 3rem;
}

.checkout_button button {
  background: none;
  color: #42b883;
  border: 1px solid #42b883;
  padding: 1rem 4rem;
  border-radius: 7px;
  font-weight: 600;
  width: 100%;
  outline: none;
}

.checkout_button button:hover {
  background: #42b883;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in;
  font-weight: 600;
}

.cart_update {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart_update p,
.cart_update p a {
  color: #919191;
  margin-right: 2rem;
  cursor: pointer;
}

.cart_update i {
  padding-right: 5px;
}

.shopping_arrow {
  vertical-align: middle;
}

.cart_empty_info {
  background: #eee;
  padding: 14px;
  border-top: 3px solid #42b883;
}

.cart_empty_content {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  height: 30vh;
}

.cart_empty_content .wc_backward {
  background-color: #42b883;
  padding: 6px 28px;
  color: #fff;
  margin-top: 14px;
  font-size: 15px;
  border-radius: 5px;
}

.cart_empty_content .return_to_shop {
  margin-top: 13px;
}

/*  =========== responsive code ====================== */

@media screen and (max-width: 700px) {
  .cart_specification_name {
    display: none;
  }

  .cart_calculation {
    flex-direction: column;
    align-items: center;
    margin-left: -6%;
    margin-top: 10%;
  }
  .cart_total_calculation {
    margin-left: 0;
  }

  .sub_total h4 {
    margin-right: 22vw;
  }
}

@media screen and (max-width: 450px) {
  .cart_update {
    margin-bottom: 16px;
  }
}
