.cart_product_details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -5rem;
  border-top: 1px solid #eeeeee;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.cart_product_name {
  flex-basis: 11%;
}

.cart_product_image,
.cart_product_name,
.cart_product_price,
.cart_product_qty,
.cart_product_total {
  margin-right: -3rem;
}

.cart_product_image {
  flex-basis: 9%;
  border: 1px solid #eee;
}
.cart_product_image img {
  max-width: 100%;
}

.cart_product_name h5 {
  color: #2c2c2c;
  font-weight: 500;
  font-size: 14px;
}

.cart_product_price span {
  margin-left: 7px;
}

.cart_product_price,
.cart_product_total,
.cart_product_delete {
  color: #040404;
}

.cart_product_qty button {
  color: #42b883;
}
.cart_product_qty span {
  color: #919191;
  padding: 0.3rem;
}

.delete_icon {
  font-size: 20px;
  color: #828282;
  cursor: pointer;
}

/* ============== responsive code ===================== */

@media screen and (max-width: 700px) {
  .cart_product_details {
    position: relative;
    padding: 3rem;
  }

  .cart_product_total {
    position: absolute;
    right: 19%;
    bottom: -10%;
  }

  .cart_product_image {
    position: absolute;
    width: 11%;
    left: 27%;
    top: 28%;
  }

  .cart_product_delete {
    position: absolute;
    right: 20%;
  }

  .cart_product_image,
  .cart_product_name,
  .cart_product_price,
  .cart_product_qty,
  .cart_product_total {
    margin-right: 3px;
  }

  .cart_product_name {
    flex-basis: 20%;
    position: absolute;
    width: 11%;
  }

  .cart_product_price {
    position: absolute;
    left: 44%;
    bottom: -10%;
  }
  .cart_product_qty {
    position: absolute;
    bottom: -10%;
    left: 57%;
  }
}

@media screen and (max-width: 450px) {
  .cart_product_image {
    display: none;
  }

  .cart_product_price {
    left: 35%;
  }

  .cart_product_qty {
    left: 52%;
  }

  .cart_product_name {
    width: 28%;
  }
  .cart_product_name h5 {
    font-size: 15px;
  }

  
  .cart_product_details {
    justify-content: space-around;
    margin-left: -5rem;
    margin-bottom: 1rem;
  }
}
