/* button */
.create_product_btn {
  position: absolute;
  right: 14%;
  top: 2%;
}

.create_product_btn button {
  border: 0;
  outline: 0;
  background-color: rgb(0, 197, 141);
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 15px;
  border-radius: 4px;
}

/* create product form */
.create_product_form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1.5rem;
  background: #fff;
  position: absolute;
  right: 0;
  top: 8%;
  z-index: 2;
}

.create_product_form input,
.create_product_form textarea {
  margin-bottom: 2rem;
  margin-top: -6px;
}

.create_product_form input {
  background: #eeeded;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline-color: #42b883;
}

#create_product_description {
  height: 17vh;
  border: none;
  background: #eeeded;
  border-radius: 8px;
  resize: none;
  padding: 1rem;
  outline-color: #42b883;
}

.create_product_stock {
  display: flex;
  align-items: center;
}

.create_product_stock input {
  margin: 0px 5px 0px 0px;
}

label.stock_margin {
  margin-right: 12px;
}

.label_edit {
  font-weight: 600;
}

input.create_product_submit {
  width: 35%;
  margin: 0 auto;
  background: rgb(0, 197, 141);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/* admin product list */

.admin_main_shop {
  width: 76%;
  margin: 100px auto 0px auto;
}

.admin_main_shop .admin_product {
  display: flex;
  flex-wrap: wrap;
}

.admin_main_shop .admin_product_item {
  flex-basis: 20%;
  position: relative;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.admin_main_shop .admin_product_desc {
  margin-top: 1rem;
}
.admin_main_shop .admin_product_name {
  color: #8a8989;
  margin-bottom: 10px;
  font-weight: 100;
}

.admin_main_shop .admin_product_item .admin_product_img img {
  max-width: 100%;
  border-radius: 5px;
}

.loaded_image {
  width: 15%;
  display: flex;
}

.loaded_image img {
  max-width: 100%;
  margin-right: 10px;
}


.delete_icon{
  position: absolute;
  right: -8px;
  font-size: 1.5rem;
  top: -8px;
  cursor:pointer;
}